@tailwind base;
@tailwind components;
@tailwind utilities;

.menu-item{
  @apply absolute w-full top-10  text-center bg-slate-300 z-50 rounded-[20px] animate-slideDown;
}

.top-menu-item {
  @apply hover:text-blue-500 
  relative 
  after:lg:absolute 
  after:lg:bottom-0 
  after:lg:left-0 
  after:lg:bg-blue-600 
  after:lg:h-[3px] 
  hover:after:lg:w-[24px] 
  after:lg:left-[50%] 
  after:lg:translate-x-[-50%] 
  after:lg:top-[50px] 
  after:lg:transition-all 
  after:lg:ease-in-out 
  after:lg:duration-300
  after:lg:rounded-t-[10px];
}

.top-menu-item-active{
  @apply text-blue-500
  after:lg:absolute 
  after:lg:bottom-0 
  after:lg:left-0 
  after:lg:h-[3px] 
  hover:after:lg:w-[24px] 
  after:lg:left-[50%] 
  after:lg:top-[50px]
  ;
}
